/* styles.css */

/* Global styles */
body {
    background-color: #f5f5f5;
    color: #1a1a1a;
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */



/* Main content styles */
main {
    max-width: 100%;
    padding: 20px;
    background-color: #000000;
    text-align: center;
}





main a {
    text-align: center;
    margin-top: 20px;
    font-stretch: semi-expanded; /* Use a valid value for font-stretch */
    font-weight: 500;
}


#latest-entry {
    background-color: #fee900;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#latest-entry img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 4px;
}




