
   
    /* Profile Page Styling */
  main {
    text-align: center;
    padding: 20px;
    background-color: #000000;
  }
  
  #profile-section {
    margin: 20px 0;
  }
  
  #profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
 
  button {
    background-color: #f9bc04;
    color: #333;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 1rem;
}

button:hover {
    background-color: #fbebbf;
}

/* Message styles */
.message-card {
    background-color: #fbeaea;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    font-size: 1rem;
}

.message-card img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 4px;
}

.remove-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #a43312;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #8f2b0d;
}


main a {
    text-align: center;
    margin-top: 20px;
    font-stretch: semi-expanded; /* Use a valid value for font-stretch */
    font-weight: 500;
}


#latest-entry {
    background-color: #fee900;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.message-card {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    font-size: 1rem;
}

.remove-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #a43312;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #8f2b0d;
}


/* File input styles */
input[type="file"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 10px;
}

/* Adjustments for form spacing */
form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid #007bff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
